@model PayItForward.Web.Models.AdminViewModels.UserDetailsViewModel
<div class="panel panel-success" style="padding: 10px">
    <div class="panel-heading" style="text-align: center">
        <h2 class="panel-title">The User have been deleted!</h2>
    </div>
    <div class="panel-body" style="text-align: center">
        The server successfully processed the request.
    </div>
    <p><a href="/Admin/Index/" class="btn btn-lg btn-success btn-block" role="button">Go back</a></p>
</div>
