@{
    ViewData["Tittle"] = "Admin Page";
}
@model PayItForward.Web.Models.HomeViewModels.IndexViewModel
<div class="container-fluid">
    <div class="row equal">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            @Html.Partial("_SearchPartial");
        }

        @foreach (var story in Model.Stories)
        {
            @Html.DisplayFor(model => story)
        }
    </div>
    @Html.Partial("_PaginationPartial", Model)
</div>