<div class="text-center">
    <h2>Contact</h2>
    <address>
        Fourth<br />
        Floor 13, 90 Tsarigradsko shose Blvd.<br />
        Sofia 1000, Bulgaria
    </address>

    <address>
        <strong>Developer:</strong> <a href="mailto:Viktoria.Penkova@fourth.com">Viktoria Penkova</a><br />
    </address>
</div>