@model List<PayItForward.Web.Models.StoryViewModels.BasicStoryViewModel>
<h2 class="text-center">
    My stories
</h2>

<span>
    <a href="/Stories/Add" class="btn btn-primary wrapper" role="button">
        <span class="text-uppercase" style="font-size: large">Add Story</span>
    </a>
</span>
<div class="container-fluid">
    <div class="row">
        @foreach (var story in Model)
        {
            @Html.DisplayFor(model => story)
            <label asp-for="@story.Title" class="control-label btn col-xs-2">
                <a href="/Stories/Edit/@story.Id" class="btn btn-success" role="button">Edit</a>       
            </label>
        }

        <h3 class="text-danger">
            @if (!Model.Any())
            {
                <span>No stories found!</span>
            }
        </h3>
    </div>
</div>
