@{
    ViewData["Title"] = "Home Page";
}
@model List<PayItForward.Models.StoryDTO>

<div class="container table-data table table-striped">
    <div class="row fields-borders">
        <div class="col-sm-4 title-font right-border">
            <span>Title</span>
        </div>
        <div class="col-sm-4 title-font right-border">
            <span>Description</span>
        </div>
    </div>

    @foreach (var story in Model)
    {
        <div class="row fields-borders mark-pointed">
            <div class="col-sm-4 right-border">
                @story.Title
            </div>
            <div class="col-sm-4 right-border">
                @story.Description
            </div>
        </div>
    }
</div>
